*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    /*background-image: url(sources/img/colegios_1.jpg);*/
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(212, 240, 251);
    backdrop-filter: blur(4px)
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
}
.cuerpo {
    color: rgb(0, 0, 0);
}

.img-inst {
    width: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.navegacion {
    text-align: right;
    font-size: 10px;    
}
nav{
    /*margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    background-color: #c6c6c5;
    position: relative;
    height: 100px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 1px;
    box-shadow: 0 2px 1px black;
}
a :hover{
    font-size: 1.6rem;
}
#logo{
    width: 150px;
    height: 150px;
    display: inline-flex;
    position: relative;
    justify-content: left;
    left: -100px;
    align-items: center;
}
nav a{
    color: black;
    margin: 0 1rem;
    text-decoration: none;
    padding: 10px;
}
#linea{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: crimson;
    bottom: -0.5rem;
    transition: 0.5s ease;
    top: 110px;
}
.header{
    width: 1000px;
    margin: 30px auto;
}
/*stilos para formularios by Edison*/
.header ul{
   list-style: none; 
}
.menu > li{
    position: relative; 
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 5px 8px;
    text-decoration: none;
}
.menu li a:hover{
    color: #fff;
    transition: all 0.3s;
}
.submenu{
    position: absolute;
    display: none;
    font-size: 18px;
    
}
.submenu li a {
    display: block;
    padding: 10px;
}
.menu li:hover .submenu{
    display: block;
}
.container{
    /* box-sizing: border-box; */
        /* border: 1px solid rgb(119, 109, 109); */
    max-width:60%;
    margin: auto;
}
.form{
    background-image: url(/sources/img/form.jpg);
    box-sizing: border-box;
    max-width:60%;
    color: rgb(226, 234, 235);
    margin: auto;
    border-radius: 10px;
    font-size: 13px;
    background-color: rgb(207, 203, 203);
    border: 1px solid rgb(119, 109, 109);
    max-width: 400px;
    padding: 50px 30px;
    margin: auto;
    margin-top: 10px;
}
.form-titulo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.form-input{
    margin-bottom: 20px;
}
.form-input label{
    display: block;
    margin-top: 5px;
}
.form-input input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(27, 45, 46);
}
.form-check input{
    cursor: pointer;
}
.form-check label{
    color: black;
}
.form-enviar input{
    background: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    margin: auto;
    cursor: pointer;
}
/*fin modificacion stilos formularios"*/
