* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: solid 0px #000;
}

/*.header{
    width: 1000px;
    margin: 30px auto;
}*/
body {
    background-image: url(sources/img/colegios_1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-color: rgb(212, 240, 251);*/
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}

p {
    text-align: left;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.cuerpo {
    color: rgb(0, 0, 0);
}

.img-inst {
    width: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

.navegacion {
    text-align: right;
    font-size: 10px;

}

nav {
    /*margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    background-color: #c6c6c5;
    position: relative;
    height: 120px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body nav a {
    display: block;
    position: relative;
    cursor: pointer;
    color: black;
    padding: 8px 10px;
    margin: 0 5px;
    text-decoration: none;
}

a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #20b2aa;
    transition: width 0.5s;
}

a:hover::before {
    width: 100%;
}

#logo {
    width: 150px;
    height: 150px;
    display: inline-flex;
    position: relative;
    justify-content: left;
    left: -100px;
    align-items: center;
}

/*****Imagen de fondo*****/
.bg-photo {
    background: #fff url(sources/img/colegios_1.jpg) no-repeat top left fixed;
    background-size: cover;
}

/****estilos para el footer********/
/***Relaizado por: Jose Gonzalez**/
section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

#footer-total {
    bottom: 0;
    margin-top: auto;

}

.footer-general {
    background: #c6c6c5;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 4px;
}

.footer-general .footer-izq,
.footer-general .footer-med,
.footer-general .footer-der {
    display: inline-block;
    vertical-align: top;
}

/* Footer Izquierda */

.footer-general .footer-izq {
    width: 40%;
}

/* The company logo */

.footer-general h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-general h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-general .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-general .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-general .footer-nombre-inst {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Medio */

.footer-general .footer-med {
    width: 25%;
}

.footer-general .footer-med i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-general .footer-med i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-general .footer-med p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-general .footer-med p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-med p a {
    color: lightseagreen;
    text-decoration: none;
    ;
}

.footer-general .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-general .footer-links .link-1:before {
    content: none;
}

/* Footer derecha */

.footer-general .footer-der {
    width: 30%;
}

.footer-general .footer-lema-inst {
    line-height: 20px;
    color: #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-lema-inst span {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-general .footer-icons {
    margin-top: 25px;
}

.footer-general .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/*
#logo-github{
    background-image: url(sources/img/github.png);
}
*/
/*stilos para formularios by Edison*/
.header ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 5px 8px;
    text-decoration: none;
}

.menu li a:hover {
    color: #fff;
    transition: all 0.3s;
}

.submenu {
    position: absolute;
    display: none;
    font-size: 18px;

}

.submenu li a {
    display: block;
    padding: 10px;
    background-color: #c6c6c6;
}

.menu li:hover .submenu {
    display: block;
}

.containerf {
    /* box-sizing: border-box; */
    /* border: 1px solid rgb(119, 109, 109); */
    max-width: 90%;
    margin: auto;
}

.form {
    background: url(/sources/img/form.jpg) no-repeat top left fixed;
    box-sizing: border-box;
    max-width: 60%;
    color: rgb(226, 234, 235);
    margin: auto;
    border-radius: 10px;
    font-size: 13px;
    background-color: rgb(207, 203, 203);
    border: 1px solid rgb(119, 109, 109);
    max-width: 400px;
    padding: 50px 30px;
    margin: auto;
    margin-top: 10px;
    backdrop-filter: blur(4px);
}

.form-titulo {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label {
    display: block;
    margin-top: 5px;
}

.form-input input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(27, 45, 46);
}

.form-check input {
    cursor: pointer;
}

.form-check label {
    color: black;
}

.form-enviar input {
    background: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    margin: auto;
    cursor: pointer;
}

/*fin modificacion stilos formularios"*/

/*incia los estilos de docentes.html*/
/* Agregado por Esteban Causado*/
.banner-docentes {
    background-color: rgba(52, 129, 184, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
}

.tex-docentes {
    margin: 0;
    font-size: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.profesor {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    height: 450px;
    width: 350px;
}

.profesor:hover {
    transform: translateY(-10px);
}

.profesor img {
    width: 100%;
    height: auto;
}

.profesor h3 {
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #444;
}

.profesor p {
    margin: 0 20px 20px 20px;
    font-size: 16px;
    color: #666;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    backdrop-filter: blur(5px);
}

.descripcion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    padding: 30px;
    height: 800px;
    width: 600px;
    display: none;
}

.descripcion img {
    max-width: 100%;
    margin-bottom: 20px;
}

.descripcion h3 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 700;
    color: #444;
}

.descripcion p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

/*Finaliza estilos docentes.html*/
/*******************************/
/*estilos forulario pqrs by Edison*/
.form_pqrs {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    font-family: monospace;
    border-radius: 5px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton_pqrs {
    background: rgb(167, 159, 159);
    color: white;
    padding: 15px;
    font-family: monospace;
}

#boton_pqrs:hover {
    cursor: pointer;
}

@media(max-width: 480px) {
    .form_pqrs {
        width: 100%;
    }
}

/* fin estilos forulario pqrs*/

/***/
.footergov {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35px;
    background: #c6c6c5;
    background-color: rgba(255, 255, 255, 0.5);
}